button {
    color: #f46a40;;
    background-color: #4a2503;
    border: none !important;
    width: 95px;
    height: 70px;
    border-radius: 5px;
    box-shadow: 1px 3px rgb(0,0,0);
}
button:hover {
    cursor: pointer;
}
button:focus {
    outline: none;
}

@media only screen and (max-width: 1000px) and (min-width: 425px) {
    button {
        width: 125px;
        height: 88px;
    }
}

@media only screen and (min-width: 1000px) {
    button {
        width: 150px !important;
        height: 115px;
    }
}
